<h1>Hello Python!</h1>

## <h3> Your First Python Code </h3>
<code>print</code> lets you print


As with any programming lets start with 'Hello World'

Yaay! <b>Congratulations</b> your first Python code - Let us start exploring this Python now
<h3> Which version am I on?</h3>

In [0]:
import sys # we are importing a library here 
print(sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

<code>#</code> -> Lets you type the comments, anything after <code>#</code> will not be executed. It is good practice to write the comments so other programmers can understand your code

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>sys</code> is a built-in module that contains many system-specific parameters and functions, including the Python version in use.  <code>import</code> call this library and you can then use the funcitons in that code, more on library and functions later.
</div>
<hr/>

# Erros in Python

**Everyone makes mistakes. **

Python will tell you that you have made a mistake by giving you an error message. 
Read error messages carefully to really understand where you made a mistake and how you may go about correcting it.

In [9]:
frint(sys.version) # instead of 'print' there is a typo

NameError: ignored

# Primitive

## Figure

<img src ="https://raw.githubusercontent.com/megjhani/01_Python_Series/master/presentation/images/01_Data_Types.PNG">

## Examples

In [0]:
7 # this is an integer
4.3 # this a float
True # this ia boolean
'Hello Python'

'Hello Python'

Chek the <code> type </code> and <code> id</code> of different data types

In [0]:
type(7)

int

In [0]:
id(7)

10914688

## Exercise

In [0]:
######## EXERCISE Print type and id FOR OTHER DATATYPES 
#### 1 . Float
#### 2 . String
#### 3 . FLoat

## Type Casting
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.
*   Implicit Type Conversion
*   Explicit Type Conversion

### Implicit Type Conversion
Python automatically converts one data type to another, for example adding a) an integer to a float
Python automatically converts the lower data type ( for example int) to higher data type ( float when adding int and float) 


***Lets see in action***

In [19]:
#Implicit Type Conversion
print(type(1)) # this is an int
print(type(1+2.2)) # this is a flaot

<class 'int'>
<class 'float'>

Let us add a string to an integer

In [20]:
print(1+'a') # execute this and see what happens ?

TypeError: ignored

Errors out as it cannot addd a string to a number

### Explicit Type Conversion

Users explicitly convert the data type of one object to another. We use the predefined functions like `int()`, `float()`, `str()`, etc to perform explicit type conversion.

This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

In [25]:
print(int('1')+2) # changing string to an integer
print(type(int('1')+2))

3
<class 'int'>

In [26]:
print('1'+str(2)) # try to guess the output first before executing this line of code; # this changes integer to string
print(type(('1'+str(2))))

12
<class 'str'>

Two similar looking code with different output, it is at users discretion as to what they want from their program

# Variables


Container for storing the data, for example

`a = 1`

In the above code `a` is assigned a value of `1`. 

Variable can be a short name like `a` or can be more descriptive like `age` , `gender`, and so on

`age = 22` <br>
`gender = 'F'`

In [27]:
## Your first variable
a = 1 # this assigns a to 1 
age = 23 # this assigns 'age' to 23

#next time when you want to add 1 you can directly call 'a' instead

print(10+a)

11

## Rules for Variable names

*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [0]:
#### EXCERCISE 
#### 1. CREATE VARIABLES FOR DIFFERENT PRIMITIVE DATA TYPES (INT, FLOAT, BOOLEAN, STRING)

Execute the following code, annd see if the code works as per your logic

`a=1` <br>
`b=a` <br> 
`a=2` <br> 

What is the value of `a` and what is the value of `b`
Repeat the same exercise with different data type

In [28]:
### Enter your code here
a = 'm'
b = 'c'
a ='d'
print(a)
print(b)

d
c

# Expression

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [30]:
print(2+3)
print(2-3)
print(4/3) # internal typecast and converts this to float
print(4//3) # this will give integer

5
-1
1.3333333333333333
1

In [0]:
### Exercise 
# 1. Assign an expression to a variable
total_secs_day = 24*60*60
j

# String Operations

## Creating and accessing String
Python String are arrays of bytes representing Unicode characters. 
It can be declared with either `'` or `"` quote <br>
e.g. : <br>
`mystring = "Hello Python"`
1. Square brackets can be used to access elements of the string.
It can be index from either 0 for going forwared or the negative index shown below

<img src ="https://raw.githubusercontent.com/megjhani/01_Python_Series/master/presentation/images/hello_python_string_access.png">

In [45]:
mystring = "Hello Python"
print(mystring[0]) # Prints first character  'H'
print(mystring[-1]) # Prnts last character 'n' 
## Try and play with other indices

H
n

## String Slicing

To access a part of the String (substring)
this can be done by colon : `:`

In [41]:
print(mystring[0:5]) # Prints first 5 character (0,1,2,3,4)
print(mystring[5:])

#Exercise , work with slicing different part of the mystring

Hello
 Python

## Updating and Deleting

Strings are immutable, Can we change it? Try it !!

In [42]:
mystring[0] = 'D' # This should result in an error as Strings are immutable and we cannot change one element

TypeError: ignored

We can however assign a new string

In [44]:
print(mystring)
mystring = 'My new world'
print(mystring)

My new world
My new world